extends ../../node_modules/pug-bootstrap/layouts/sign-in


block body
  .container
    form.form-signin(method="post", action="/twofactorAccount")
      h1.form-signin-heading <p style="text-align: center">My Bank</p>
      <br>
      h3.form-signin-heading Login
      p.form-signin-heading Please sign-in with your ID and password
      label.sr-only(for='username') username
      input#username.form-control(type='text', placeholder='Username', required='', autofocus='',name='name')
      label.sr-only(for='password') password

      input#password.form-control(type='password', placeholder='Password', required='')
      input(type="hidden" name="original_url" value=original_url)
      input(type="hidden" name="app_name" value=app_name)
      input(type="hidden" name="brand" value=brand)
      input(type="hidden" name="context" value=context)
      input(type="hidden" name="channel" value=channel)
      input(type="hidden" name="state" value=state)
      input(type="hidden" name="scope" value=scope)
      input(type="hidden" name="clientid" value=clientid)
      //input(type="hidden" name="intent_id" value=intent_id)

      button.btn.btn-lg.btn-primary.btn-block(type='submit') Login
